{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}



         <div class="error-container">
            <div class="error-icon">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="error-heading">
                {{ bottom }}
            </div>
            <div class="error-message">

            </div>
            <div class="back-button">
              <a href="/">Go back to homepage</a>
            </div>
          </div>
{% endblock %}
